:root {
  --element-spacing: 1.5rem;
}

.top-nav {
  /* Flexbox to space out divs and then center align */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--element-spacing);
  width: 100%;
}

.left > * {
  margin-right: var(--element-spacing);
}

.right {
  /* Additional flexbox will center the text with the button */
  display: flex;
  align-items: center;
}

.right > * {
  margin-left: var(--element-spacing);
}